header, main, footer {
    max-width: 650px;
    box-sizing: border-box;
    margin: 1rem auto;
    background-color: aqua;
    padding: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:1rem;
}

section {
    background-color: white;
    padding: 20px;
}