:root {
    /* Color */
    --primary-main: #4A90E2;
    --primary-accend: #1E3A8A;
    --primary-neutral: #6C757D;

    /* Typography */
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Merriweather', serif;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
}


nav a, h2{
    font-family: var(--font-primary);
    color: whitesmoke;
}

.name, h1{
    font-family: var(--font-primary);
    color: black;
    font-size: 1.5rem;
}

p, a, span {
    font-family: var(--font-secondary);
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--primary-main);
    padding: 1rem;
}

header img, 
header span {
    margin: 0; /* Override the global margin */
}

header img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}




nav {
    background-color: var(--primary-accend);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    display: block;
    text-decoration: none;
    text-align: center; 
    padding: 0.5rem;
}

nav a:hover {
    background-color: var(--primary-neutral);
}

h1 {
    text-align: center;
    font-size: x-large;
    padding: 1rem;
    text-decoration: underline gray; 
}

section {
    border: 1px solid black;
    border-radius: 5px;
}

h2 {
    background-color: var(--primary-accend);
    text-align: center;
    padding: 0.5rem;
}

footer {
    background-color: var(--primary-main);
    text-align: center;
    padding: 1rem;
}

#menu-button {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

#menu {
    display: none;
    flex-direction: column;
    background-color: var(--primary-accend);
    position: relative;
    width: 100%;
    left: 0;
    padding: 0;
}

#menu.show {
    display: flex;
}

.hero{
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	/* Buenas */
}

#mode {
    position: absolute;
	top: 40px;
	right: 30px;
}

.card {
    font-size: large;
    line-height: 30px;  
}

#card2 p {
    padding: 10px;
}

#card2 figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#card3 {
    align-items: center;
    padding: 20px;
}

#card3 iframe {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    height: 450px;
    border-radius: 10px;
    margin-top: 10px;
}

#visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}

.label {
	font-family: Arial, sans-serif;
	font-weight: 700;
}